
<div class="anchored card">
    <time datetime="{{date format=" YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time>
    <a class="card-header" href="{{url}}">{{title}}</a>
    <div class="anchored categories">
        {{tags}}
    </div>
</div>