<a class="item brand" href="{{@site.url}}">
    {{#if @site.logo}}
        <img class="logo" src="{{@site.logo}}" alt="{{@site.title}}">
    {{else}}
        <span>{{@site.title}}</span>
    {{/if}}
</a>