{{!< default}}

{{#post}}
<div class="container">
<div class="grid">
    <div class="article-content">
        <div class="post-header medium width">
            <h1>{{title}}</h1>
            <section class="segment small">
                <div class="post-content">
                    {{content}}
                </div>
            </section>
        </div>
    </div>
    <div class="post-sidebar">
        <div class="post-sidebar-card">
            {{!-- {{#if feature_image}}
            <img class="sidebar-avatar" 
                src="{{img_url feature_image size="sm"}}" 
                alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                loading="lazy"
            />
            {{/if}} --}}
            {{#foreach authors}}
                {{#if profile_image}}
            <img class="sidebar-avatar" 
                src="{{img_url profile_image size="xs"}}" 
                alt="{{t "Author"}}: {{name}}"
                loading="lazy"
            />
                {{/if}}
            {{/foreach}}
        </div>
        <div class="post-sidebar-card">
            <h2>Details</h2>
            <ul>
                <li>
                    {{t "Published: "}}<time datetime="{{date format="YYYY-MM-DD"}}"> {{date format="MMM YYYY"}}</time>
                </li>
            </ul>
            {{!-- <div>
                <h2>Category</h2>
                <ul>
                    <li>
                        {{> tags}}
                    </li>
                </ul>
            </div> --}}
            {{#if tags}}
                <h2>Tags</h2>
                {{> tags}}
            {{/if}}
        </div>
    </div>
</div>
</div>
{{/post}}