{{!< default}}

{{#post}}
<div class="container">
<div class="grid">
    <div class="article-content">
        <div class="post-header medium width">
            <h1>{{title}}</h1>
            <section class="segment small">
                <div class="post-content">
                    {{content}}
                </div>
            </section>
        </div>
    </div>
    <div class="post-sidebar">
        <div class="post-sidebar-card">
            {{#if feature_image}}
            <div class="mx-auto">
            <img class="sidebar-avatar" 
                src="{{img_url feature_image size="xs"}}" 
                alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                loading="lazy"
                height="100"
            />
            </div>
            {{else}}
            <img class="sidebar-avatar" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22100%22%20height%3D%22100%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20100%20100%22%20preserveAspectRatio%3D%22none%22%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3Cstyle%20type%3D%22text%2Fcss%22%3E%0A%20%20%20%20%20%20%20%20%20%20%23holder%20text%20%7B%0A%20%20%20%20%20%20%20%20%20%20%20%20fill%3A%20%23000000%3B%0A%20%20%20%20%20%20%20%20%20%20%20%20font-family%3A%20%3B%0A%20%20%20%20%20%20%20%20%20%20%20%20font-size%3A%200px%3B%0A%20%20%20%20%20%20%20%20%20%20%20%20font-weight%3A%20100%3B%0A%20%20%20%20%20%20%20%20%20%20%7D%0A%20%20%20%20%20%20%20%20%3C%2Fstyle%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Cg%20id%3D%22holder%22%3E%0A%20%20%20%20%20%20%20%20%3Crect%20width%3D%22100%25%22%20height%3D%22100%25%22%20fill%3D%22%23ff6a1a%22%3E%3C%2Frect%3E%0A%20%20%20%20%20%20%20%20%3Cg%3E%0A%20%20%20%20%20%20%20%20%20%20%3Ctext%20text-anchor%3D%22middle%22%20x%3D%2250%25%22%20y%3D%2250%25%22%20dy%3D%22.3em%22%3E100%20x%20100%3C%2Ftext%3E%0A%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%3C%2Fsvg%3E" alt="{{title}}" />
            {{/if}}
            {{#if excerpt}}
            <p>
                {{excerpt}}
            </p>
            {{/if}}
            {{!-- {{#foreach authors}}
                {{#if profile_image}}
            <img class="sidebar-avatar" 
                src="{{img_url profile_image size="xs"}}" 
                alt="{{t "Author"}}: {{name}}"
                loading="lazy"
            />
                {{/if}}
            {{/foreach}} --}}
        </div>
        <div class="post-sidebar-card">
            <h2>{{t "Details"}}</h2>
            <ul>
                <li>
                    {{t "Published: "}}<time datetime="{{date format="YYYY-MM-DD"}}"> {{date format="MMM YYYY"}}</time>
                </li>
            </ul>
            {{!-- <div>
                <h2>Category</h2>
                <ul>
                    <li>
                        {{> tags}}
                    </li>
                </ul>
            </div> --}}
            {{#if tags}}
                <h2>{{t "Tags"}}</h2>
                {{> tags}}
            {{/if}}
        </div>
    </div>
</div>
</div>
{{/post}}